{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block content %}

{% include "common/header.html" %}
<div class="container my-5">
    <div class="row justify-content-md-center">
        <div class="col-md-8 md-offset-2">
            <h1>Add Center</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="centerName" class="form-label">Center Name</label>
                    <input type="text" class="form-control" id="centerName" name="name">
                </div>
                <div class="mb-3">
                    <label for="about" class="form-label">About</label>
                    <textarea id="about" class="form-control" name="about"></textarea>
                </div>
                <div class="mb-3">
                    <label for="website" class="form-label">Website</label>
                    <input type="text" class="form-control" id="website" name="website">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea id="address" class="form-control" name="address"></textarea>
                </div>
                
                <h5>Hours</h5>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">From</label>
                                <select class="form-select" name="hours_from">
                                    <option selected value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">To</label>
                                <select class="form-select" name="hours_to">
                                    <option selected value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Open</label>
                            <input type="time" name="hours_opening" class="form-select">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Close</label>
                                <input type="time" name="hours_closing"  class="form-select">
                                <!-- <select class="form-select hr">
                                </select>
                                <select class="form-select min">
                                </select>
                                <select class="form-select">
                                    <option>AM</option>
                                    <option selected>PM</option>
                                </select> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Mon</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Opening Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Tue</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Opening Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Wed</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Opening Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Thu</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Opening Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Fri</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Opening Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Sat</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option value="12:00AM">12:00 AM</option>
                        <option value="01:00AM">01:00 AM</option>
                        <option value="02:00AM">02:00 AM</option>
                        <option value="03:00AM">03:00 AM</option>
                        <option value="04:00AM">04:00 AM</option>
                        <option value="05:00AM">05:00 AM</option>
                        <option value="06:00AM">06:00 AM</option>
                        <option value="07:00AM">07:00 AM</option>
                        <option value="08:00AM">08:00 AM</option>
                        <option value="09:00AM">09:00 AM</option>
                        <option value="10:00AM">10:00 AM</option>
                        <option value="11:00AM">11:00 AM</option>
                        <option value="12:00PM">12:00 PM</option>
                        <option value="01:00PM">01:00 PM</option>
                        <option value="02:00PM">02:00 PM</option>
                        <option value="03:00PM">03:00 PM</option>
                        <option value="04:00PM">04:00 PM</option>
                        <option value="05:00PM">05:00 PM</option>
                        <option value="06:00PM">06:00 PM</option>
                        <option value="07:00PM">07:00 PM</option>
                        <option value="08:00PM">08:00 PM</option>
                        <option value="09:00PM">09:00 PM</option>
                        <option value="10:00PM">10:00 PM</option>
                        <option value="11:00PM">11:00 PM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                    </div>
                    <label class="input-group-text" for="inputGroupSelect01">Sun</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Opening Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Closing Time...</option>
                        <option value="1">12AM</option>
                        <option value="2">11AM</option>
                        <option value="3">10AM</option>
                    </select>
                </div> -->
                <h5>You Can Donate</h5>
                {% for tag in tags %}
                <div class="mb-3 form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="can_donate" value="{{tag.id}}">
                    <label class="form-check-label" for="exampleCheck1">{{tag.name}}</label>
                </div>
                {% endfor%}

                <h5>You Can Find</h5>
                {% for tag in tags %}
                <div class="mb-3 form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="can_find" value="{{tag.id}}">
                    <label class="form-check-label" for="exampleCheck1">{{tag.name}}</label>
                </div>
                {% endfor%}
                

                <!-- <h5>You Can Find</h5>
                  <div class="form-group mb-3">
                    <select multiple class="form-control" id="canfind" name="can_find">
                        {% for tag in tags %}
                        <option value="{{tag.id}}" data-badge="">{{tag.name}}</option>
                        {% endfor%}
                    </select>
                  </div> -->
                <div class="mb-3">
                    <label for="information" class="form-label">Additional Material Information
                    </label>
                    <textarea id="information" class="form-control" name="additional_material_information"></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="partner" name="partner"  value="1">
                    <label class="form-check-label" for="partner" >Partner</label>
                </div>
                <div class="mb-3 form-check ">
                    <input type="checkbox" class="form-check-input" id="pickup" name="pickup" value="1">
                    <label class="form-check-label" for="pickup">Pickup</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}