{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block content %}

{% include "common/header.html" %}

<div class="mapWrapper">
  <div id="openSearch">
    <i class="icofont-search-2"></i>
  </div>
  <div class="searchArea">
    <div id="closeSearch">
      <i class="icofont-close-circled"></i>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 my-2">
          <select  name="items" id="items-dropdown" multiple multiselect-select-all="true" multiselect-search="true" multiselect-max-items="4">
            {% for item in items %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3 my-2">
          <select class="form-select" aria-label="Default select example" name="type" id="type">
            <option value selected>Select</option>
            <option value="Give">Give</option>
            <option value="Find">Find</option>
          </select>
        </div>
        <div class="col-md-3 my-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="pickuponly" name="pickuponly">
            <label class="form-check-label" for="flexCheckDefault">
              Pickup Only
            </label>
          </div>
        </div>
        <div class="col-md-3 w-md-100">
          <button class="btn btn-success" id="filter_btn">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="map">
  </div>
  <div class="resultArea">
    {% for center in centers %}
    <a class="resultCard" href="{% url 'detailsPage' center.slug %}">
      <div class="tag">Partner</div>
      <h5>{{center.name}}</h5>
      <h6>{{center.address}}</h6>
    </a>
    {% endfor %}
  </div>
</div>


{% endblock %}